.Button {
    /* display : block; */
    background-color: rgb(24, 108, 177);
    color : white;
    border : none;
    border-radius: 5px;

}
.Button:focus{
    outline : none;
}
.Button:active{
    background-color: rgb(21, 98, 161);

}
/* margin : 0 10px; height : 50px;   width : 130px;  font-size: 15px; */

@media only screen and (max-width:1366px){
    .Button{
        font-size : 12px;
    }
}
@media only screen and (max-width:768px){
    .Button{
        font-size : 12px;
        width: 100px;
    }
}