
.home-content-container{
    margin: 70px auto;
    max-width: 60%;
}
.home-quote{
    color : white;
    text-align: center;
    font-size:  40px;
    margin: 10px;
}
.menucontainer{
    display:flex;
    justify-content: center;
}
.menuoverlay{
    width:500px;
    margin: 0 auto;
    position:absolute;
    padding:15px;
    z-index: 3;
    
}
.menuoverlay ul{
    list-style-type: none;
}
.menuoverlay ul li{
    text-align:center;
    font-size:15px;
    margin:5px 0;
    padding:15px 20px;
    background: linear-gradient(to right,#0f0f0fe9,#186cb1de,#0f0f0fe9);
    border-radius: 15px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.menuoverlay ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.menuoverlay ul li:hover{
    -webkit-transform: translate(0,-0.5em);
    -moz-transform: translate(0,-0.5em);
    -o-transform: translate(0,-0.5em);
    -ms-transform: translate(0,-0.5em);
}
@media screen and (max-width:1366px){
    .home-content-container{
        margin : 50px auto;
        max-width:70%;
    }
    .home-quote{
        font-size:  30px;
    }
      
}
@media screen and (max-width:1000px){
    .home-content-container{
        margin : 50px auto;
        max-width:80%;
    }
    .home-quote{
        font-size:  25px;
    }
      
}
@media screen and (max-width:640px){
    .home-content-container{
        margin : 30px auto;
        max-width:90%;
    }
    .home-quote{
        font-size:  20px;
    }
    .menuoverlay ul li{
        font-size:11px;
    }
    .menuoverlay{
        width:80%
    }
      
}
@media screen and (max-width:375px){
    .home-content-container{
        margin : 20px auto;
        max-width:99%;
    }
    
      
}

@media screen and (max-width:375px){
    .home-content-container{
        margin : 20px auto;
        max-width:95%;
    }
    .home-quote{
        font-size:  20px;
    }
      
}
@media screen and (max-width:320px){
    .home-quote{
        font-size:  15px;
    }
      
}