.TextField{
    margin: 30px 0;
}
.TextField textarea{
    width:100%;
    margin:10px 0;
    padding:15px;
    font-size:15px;
    background:rgb(223,223,223);
    border-radius: 4px;
}

.InputPacket textarea:focus{
    background: white;
}

.TextField h4{
    font-size: 17px;
}
.TextField h4 span{
    color: rgb(185, 38, 38);
    font-size: 15px;
}
.TextField p{
    font-size: 12px;
    color:rgb(158, 158, 158)
}

@media only screen and (max-width:1000px){
    .TextField textarea{
        font-size: 14px;
    }
    .TextField h4{
        font-size: 15px;
    }
    .TextField p{
        font-size: 10px;
    }
}

@media only screen and (max-width:500px){
    .TextField textarea{
        font-size: 14px;
       
    }
    .TextField h4{
        font-size: 13px;
    }
    .TextField p{
        font-size: 9px;
    }
}

@media only screen and (max-width:374px){
    .TextField textarea{
        font-size: 13px;
        
    }
    .TextField h4{
        font-size: 13px;
    }
    .TextField p{
        font-size: 8px;
    }
}