@font-face{
    font-family: pacifico;
    src:url('../../assets/Font/Pacifico/Pacifico-Regular.ttf');
}
.home-content-container{
    text-align: center;
}
.infoInput{
    margin:40px 0px;
    padding:40px;
    border-radius:10px;
    background:rgb(15,15,15);
    border: 3px solid rgb(20,20,20);
}
.infoInput h3{
    font-size:25px;
}
.info-heading{
}
.info-main{
    text-align: left;
}
.infoInput:active{
    border: 3px solid rgb(16, 38, 56);;
}
.infoInput:hover{
    /* border: 3px solid rgb(16, 38, 56); */
    border: 3px solid rgb(43, 43, 43);
}
@media only screen and (max-width:1000px){
    .home-content-container h1{
        font-size:30px;
    }
    .infoInput h3{
        font-size:22px;
    }
}
@media only screen and (max-width:800px){
    .home-content-container h1{
        font-size:25px;
    }
    .infoInput h3{
        font-size:20px;
    }
}
@media only screen and (max-width:500px){
    .home-content-container h1{
        font-size:25px;
    }
    .infoInput h3{
        font-size:18px;
    }
}
@media only screen and (max-width:374px){
    .home-content-container h1{
        font-size:20px;
    }
    .infoInput h3{
        font-size:15px;
    }
    .infoInput{
        padding:10px;
    }
}
.imginp{
    width:150px;
    height:150px;
    text-align: center;
    background:rgb(17,17,17);
    border-radius: 12px;
    border:4px solid rgb(27,27,27);
    color: white;
}
.PostJob{
    height:70px;
    width:200px;
    font-size: 19px;
    color:white;
    background:linear-gradient(to right,rgb(43, 115, 173),rgb(27, 65, 97));
    
    border-radius:6px;
    outline: none;
}
.PostJob:hover{
    background:linear-gradient(to right,rgb(14, 96, 163),rgb(10, 61, 102));
}

